.container {
  width: 1360px;
  height: 797px;
  margin: 0 40px 140px 40px;

  &_title {
    display: flex;
    align-items: center;
    flex-direction: column;

    &_captain {
      width: max-content;
      height: 27px;
      display: flex;
      align-items: center;
      border-top: 1px solid #E1B168;
      border-bottom: 1px solid #E1B168;
      font-family: "Josefin Sans", sans-serif;
      font-size: 15px;
      line-height: 22.5px;
      letter-spacing: 3px;
      color: #292E36;
      padding-top: 2px;
    }

    &_mainTitle {
      font-family: 'Cormorant Infant', serif;
      font-size: 40px;
      line-height: 56px;
      letter-spacing: 0.2px;
      color: #292E36;
      margin: 12px 0 8px 0;
      display: flex;
      align-items: center;
    }

    &_description {
      width: max-content;
      height: 30px;
      font-family: "Josefin Sans", sans-serif;
      font-size: 20px;
      line-height: 30px;
      letter-spacing: 0.2px;
      color: #555555;
    }
  }

  &_img {
    width: 1360px;
    height: 490px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0 19px 0;

    &_cart {
      width: 317.5px;
      //height: 450px;

      &_information {
        width: 317.5px;

        &_titlePrice {
          width: 318px;
          height: 63px;
          display: flex;
          align-items: center;
          justify-content: space-between;

          &_title {
            font-family: 'Cormorant Infant', serif;
            font-size: 30px;
            line-height: 42px;
            letter-spacing: 0.2px;
            color: #292E36;
          }

          &_price {
            font-family: 'Cormorant Infant', serif;
            font-size: 30px;
            line-height: 42px;
            letter-spacing: 0.2px;
            color: #292E36;
          }
        }

        &_description {
          font-family: "Josefin Sans", sans-serif;
          font-size: 20px;
          line-height: 30px;
          letter-spacing: 0.2px;
          color: #555555;
        }
      }
    }
  }

  &_button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.rectangle {
  width: 317.5px;
  height: 1px;
  background-color: #DCDCDC;
  margin: 0 0 14px 0;
}

.seeAllDishesButton {
  width: 255px !important;
  color: #E1B168 !important;
}