.container {
  width: 1440px;
  height: 515px;
  background-color: #292E36;

  &_information {
    width: 1360px;
    height: 235px;
    margin: 140px 40px 140px 40px;
    display: flex;
    justify-content: space-between;

    &_description {
      width: 448px;
      height: 214px;

      &_captain {
        width: max-content;
        height: 27px;
        display: flex;
        align-items: center;
        border-top: 1px solid #E1B168;
        border-bottom: 1px solid #E1B168;
        font-family: "Josefin Sans", sans-serif;
        font-size: 15px;
        line-height: 22.5px;
        letter-spacing: 3px;
        color: #FFFFFF;
        padding-top: 2px;
      }

      &_mainTitle {
        font-family: 'Cormorant Infant', serif;
        font-size: 40px;
        line-height: 56px;
        letter-spacing: 0.2px;
        color: #FFFFFF;
        margin: 12px 0 8px 0;
        display: flex;
        align-items: center;
      }

      &_miniDescription {
        width: fit-content;
        height: 90px;
        font-family: "Josefin Sans", sans-serif;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.2px;
        color: #FFFFFF;
      }
    }

    &_card {
      width: 254px;
      height: 235px;
      box-shadow: inset 0 0 0 20px #323841;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: 'Cormorant Infant', serif;
      font-size: 20px;
      line-height: 35px;
      letter-spacing: 0.2px;
      flex-direction: column;
      color: #FFFFFF;
    }
  }
}