.header {
  width: 1440px;
  height: 370px;
  background-color: #292E36;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: column;

  &_main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 40px 50px;
  }

  &_navigation {
    height: 82px;
    border-top: 1px #5C6168 solid;
    background-color: #292E36;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &_links {
      width: 796px;
      height: 70px;
      margin: 5px 0 5px 40px;
      display: flex;
      align-items: center;
    }

    &_icons {
      width: 179px;
      height: 30px;
      margin-right: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.page2 {
  background-color: #292E36;
  width: 1440px;
  height: 810px;

  &_information {
    background-color: #292E36;
    width: 655px;
    height: 418px;
  }


}

.test {
  background-color: blueviolet !important;
  color: red !important;
}